{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/index.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script>     
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places">
    </script>   
{% endblock %}

{% block body %}
    <div class="cover_photo container">
        <h1 class="title">Discover Restaurants Around The World</h1>

        <form>
            <input type="text" name="city" placeholder="Name of city">                        
            <input type="text" name="radius" placeholder="Distance from city">                        
            <input type="text" name="filters" placeholder="Filters">
                <!-- (Make this a dropdown list) -->                        
            <input type="submit">
            <!-- <button class="testing_button"></button> -->            
        </form>

        <!-- <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="search_bar search_button">
        </form> -->
    </div>        
{% endblock %}