{% extends "restaurants/layout.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script> 
    
    <!-- might need to re-add callback to url -->
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTlAyLKqOub32bbSiRhxDGv2HJoEyr46g&libraries=places">
    </script>   
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col cover_photo flex_center">
                <h1 class="title">Restaurants</h1>
                <h2 class="sub_title">Discover Restaurants Around The World</h2>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="search_bar search_button">
                </form>
            </div>
        </div>
    </div>           
{% endblock %}