{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/results.css' %}">
    <link rel="stylesheet" href="{% static 'restaurants/profile.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script>
    <script src="{% static 'restaurants/add_or_remove.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="flex-container">    
        <div class="title">{{ user.username }}'s Saved Restaurants</div>
        
        {% include "restaurants/cards.html" %}            
        {% block img %}                
            {% include "restaurants/test_image.html" %}
        {% endblock %}                    
    </div>
{% endblock %}