{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/results.css' %}">
    <link rel="stylesheet" href="{% static 'restaurants/profile.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="flex-container">    
        <div class="title">{{ user.username }}'s Saved Restaurants</div>
        
        <div class="cards-container">
            {% for restaurant in saved_restaurants %}                
                <div class="card">
                    <div class="card-img">
                        <!-- https://www.reddit.com/r/django/comments/kjmj6b/string_formatting_in_template/ -->
                        {% with counter=forloop.counter|stringformat:"s" %}
                            <img src="{% static 'restaurants/Saved_Restaurants_Photos/Restaurant'|add:counter|add:'.jpg' %}">
                        {% endwith %}
                    </div>
        
                    <div class="caption">
                        <h3>
                            {% if 'dataSources' in restaurant %}
                                <a class="card-link" href="{% url 'restaurant_page' restaurant.poi.name restaurant.id restaurant.dataSources.poiDetails.0.id %}">{{ restaurant.poi.name }}</a>
                            {% else %}
                                <a class="card-link" href="{% url 'restaurant_page' restaurant.poi.name restaurant.id '0' %}">{{ restaurant.poi.name }}</a>
                            {% endif %}                            
                        </h3>
                        <p class="caption-wrap"><b>Address: </b>{{ restaurant.address.freeformAddress }}</p>
                        <p><b>Phone Number: </b>{{ restaurant.poi.phone }}</p>
                        {% if restaurant.poi.url %}
                            <p><b>Website: </b></p>
                            {% if "http" in restaurant.poi.url %}
                                <a class="caption-wrap caption-website" href="{{ restaurant.poi.url }}">{{ restaurant.poi.url }}</a>
                            {% elif "http" not in restaurant.poi.url and "www." in restaurant.poi.url %}
                                <a class="caption-wrap caption-website" href="https://{{ restaurant.poi.url }}">https://{{restaurant.poi.url }}</a>
                            {% else %}
                                <!-- https://stackoverflow.com/questions/8951423/html-links-without-http-protocol -->
                                <a class="caption-wrap caption-website" href="//www.{{ restaurant.poi.url }}">www.{{ restaurant.poi.url}}</a>
                            {% endif %}
                        {% else %}
                        <p><b>Website: </b>unavailable</p>
                        {% endif %}
        
                        {% if user.is_authenticated %}
                            {% if 'dataSources' in restaurant %}
                                <ol class="invisible_info">
                                    <li>{{ restaurant.id }}</li>
                                    <li>{{ restaurant.dataSources.poiDetails.0.id }}</li>
                                </ol>
                            {% else %}
                                <ol class="invisible_info">
                                    <li>{{ restaurant.id }}</li>
                                    <li>'0'</li>
                                </ol>
                            {% endif %}
        
                            {% if restaurant.id in regular_ids_list %}
                                <button type="button">Remove from saved restaurants</button>
                            {% else %}
                                <button type="button">Add to saved restaurants</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <!-- <div class="line"></div> -->
            {% endfor %}
        </div>   
    </div>
{% endblock %}