{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/register&login.css' %}">
{% endblock %}

{% block style %}
    <style nonce="{{request.csp_nonce}}">
        .nav-links li:nth-of-type(2) a {
            color: var(--Orange);
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/navSlide.js' %}"></script>
{% endblock %}

{% block body %}

{% if message %}
    <div class="message">{{ message }}</div>
{% endif %}

<div class="flex-container">        
    <div class="side-image-container">
        <img class="side-image-container-image" src="{% static 'restaurants/sun-koh-71OAFIbqh_M-unsplash.jpg' %}" alt="Register/login page">
    </div>    

    <div class="form-container">
        <h1>Register</h1>

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Register">
        </form>
    </div>    
</div>  
{% endblock %}