{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/register&login.css' %}">
{% endblock %}

{% block style %}
    <style>
        .nav-links li:nth-of-type(2) a {
            color: var(--Orange);
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script>
    <!-- <script defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script> -->
{% endblock %}

{% block body %}
<div class="flex-container">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    <div class="side-image-container"></div>

    <div class="form-container">
        <h1>Register</h1>

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Register">
        </form>
    </div>    
</div>  
{% endblock %}