{% extends "restaurants/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'restaurants/restaurant_page.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'restaurants/index.js' %}"></script>
    <!-- <script defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script> -->
{% endblock %}

{% block body %}
    <div class="flex-container">
        <h1>{{ details.name }}</h1>
        <p><b>Address:</b> {{ details.formatted_address }}</p>
        <p><b>Phone Number:</b> {{ details.formatted_phone_number }}</p>
        <!-- <p>{{ details.opening_hours }}</p> -->
            <!-- https://www.youtube.com/watch?v=vAK5o8h8C28&feature=youtu.be -->
        {% if details.website %}
        <p><b>Website: </b></p>
            <a href="{{ details.website }}">{{ details.website }}</a>
        {% else %}
            <p><b>Website: </b>unavailable</p>
        {% endif %}
        
        <!-- <footer>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer> -->
    </div>    
{% endblock %}