**/__pycache__
secret_key.txt
api_key.txt
Restaurant_Photos
Restaurants_Photos
Saved_Restaurants_Photos

# https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Deployment#creating_an_application_repository_in_github
# Text backup files
*.bak

# Database
# *.sqlite3