asgiref==3.2.10
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
Django==3.0.8
django-cors-headers==3.5.0
django-environ==0.4.5
googlemaps==4.4.2
idna==2.10
isort==4.3.21
jellyfish==0.8.2
lazy-object-proxy==1.4.3
lib50==2.0.9
markdown2==2.3.9
mccabe==0.6.1
pexpect==4.8.0
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
submit50==3.0.2
termcolor==1.1.0
toml==0.10.1
urllib3==1.26.2
wget==3.2
wrapt==1.12.1
