.cover_photo {
  background-image: linear-gradient(rgba(47,45,65,.7),rgba(47,45,65,.7)),
                    url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    /* rgba codes from opentable.com */                 
  height: calc( 100vh - (var(--NavBarHeight)) );
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 45px;
    font-weight: bold;
    /* margin-top: -.5em; */
    margin-bottom: 30px;
    text-align: center;
}

.search_form {
  display: flex;
  flex-direction: column;
}

.search {
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    border-style: none;
}

.search_bar {
  width: 300px;  
}

.margin {
  margin-left: 15px;
}

.search_button {
  background-color: var(--Orange);
  color: white;
  width: 130px;
}