.nav-links li:nth-of-type(2) a {
  color: var(--Orange);
}

body {
  background-color: var(--GrayBackground);
}

.cards-container {
  justify-content: center;
}

.card {
  background-color: white;  
  margin-bottom: 2rem;
  /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2); */
}

.title {
  margin-bottom: 4rem;
}


@media only screen and (min-width: 768px) {
        
}

@media only screen and (min-width: 992px) {    
  .card {
    width: 80%;
  }    
}