nav {
  position: initial;
}

/* Because of horizontal mode, when submit button will be past 100vh... */
body {
  background-color: var(--GrayBackground);
}

.flex-container {    
  display: flex;
  flex-wrap: wrap;
  
  height: calc( 100vh - (var(--NavBarHeight)) );
}

.side-image-container {
  display: none;
}

.form-container {
  flex: 100%;
  align-self: center;  
}

h1 {
  text-align: center;
  font-weight: 500;  
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80%;
  padding: 1.2rem;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 300;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: var(--Orange);
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--HoverOrange);  
}

@media only screen and (min-width: 768px) {
    .side-image-container {
      display: block;
      flex: 55%;  

      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                        url("https://images.unsplash.com/photo-1580802841960-bb47baa91eac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=717&q=80");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .form-container {      
      flex: 45%;
    }
}