.flex-container {    
    display: flex;
    flex-direction: column;
    background-color: var(--GrayBackground);
}

nav {
    box-shadow: initial;
    background-color: var(--Orange);
}

.burger div {
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    
    height: 13rem;
    width: 100%;
    background-color: var(--Orange);   
    
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
    
    z-index: 10;

    margin-top: calc(var(--NavBarHeight) - 0.2px);
}

.about-container {
    background-color: white;
    text-align: center;   
    padding: 3rem 1.5rem 3.3rem; /* top, right and left, bottom */
    margin-bottom: 3rem;
}

h2 {
    color: var(--Orange);
    margin-bottom: 2.5rem;
    text-align: center;
}

p {    
    margin-top: 1rem;
}

.about-container a {
    color: var(--LinkBlue);
}
.about-container a:hover {
    color: var(--HoverLinkBlue);
}

.photos {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.photos img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border-radius: 5px;    
    margin-bottom: 2rem;
    transition: box-shadow .2s;
}
.photos img:hover {
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
        /* https://boxshadows.com/presets */
    cursor: pointer;    
}

                                    /* Modal */
/* The Modal (background) */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--GrayBackground);
}

/* Modal Content */
.modal-content {
  position: relative;
  width: 50%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
width: 100%;
height: 90vh;
object-fit: cover;
border-radius: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}                            
                                /* End Modal */

.center-and-margin {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.invisible_info {
    display: none;
}
button {
    background-color: white;
    color: var(--Orange);
    border: 1px solid var(--Orange);
    padding: 1rem;
    z-index: 50;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
        /* https://boxshadows.com/presets */
    background-color: var(--Orange);
    color: white;
}
button:focus {
  outline: none;
}


@media only screen and (min-width: 425px) {
    .photos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        padding-left: 1rem; 
            /* balancing padding */
            /* (because of margin-right of each img) */        
    }
    .photos img {
        width: 42%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }    
}

@media only screen and (min-width: 768px) {
    .nav-links a {
        color: white;
    }
    .nav-links a:hover {
        color: white;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 992px) {    
    .photos img {
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {    
    .photos img {
        width: 25%;
        height: 20rem;
    }
}

@media only screen and (min-width: 2000px) {
    .photos img {
        width: 20%;
        height: 25rem;
    }
}