.flex-container {    
    display: flex;
    flex-direction: column;
    align-items: center;    
        /* https://stackoverflow.com/questions/35106814/why-isnt-justify-content-centering-my-divs */

    background-color: rgb(250, 250, 250);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    
    height: 15rem;
    width: 100%;
    background-color: white;   
    
    font-size: 2.8rem;
    color: rgb(90, 90, 90);

    margin-bottom: 20px;
}

.cards-containter{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;        
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {    
    box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
        /* https://boxshadows.com/presets */
    margin: 20px;
}
.caption {    
    padding: 1rem;
    text-align: center;
}
img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.cards-containter > a {
    text-decoration: none;    
}
.caption > h3 {
    color: black;
    margin-bottom: 5px;
}
.caption > p {
    color: grey;
}

.empty-card {
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    .cards-containter > a {
        flex: 50%;
    }
    .empty-card {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .cards-containter > a {
        flex: 33.3%;
    }
}
@media only screen and (min-width: 2000px) {
    .cards-containter > a {
        flex: 25%;
    }
    html {
        font-size: 22px;
    }
}